.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  height: 100vh;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__servings {
  }

  &__title {
  }

  &__item {
    list-style: none;
  }

  &__diets {
  }

  &__dishtypes {
  }
}

.PDF {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  &__ingredientsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;

    &-item {
      padding: 1rem;
      transition: 0.3s all ease-in-out;
      &:hover {
        font-size: 20px;
      }
    }
  }

  &-instructionsItem {
  }

  &__instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__ingredientsContainer {
    display: flex;
    margin: 2rem;
  }

  &__ingredientsContainer-loopContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
