.recipe {
  height: 100vh;
  &__container {
  }

  &__servings {
  }

  &__title {
  }

  &__item {
    list-style: none;
  }

  &__diets {
  }

  &__dishtypes {
  }
}
section > h1 {
  text-align: center;
}
.PDF {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(80, 151, 99);
  &__image {
    width: 200px;
  }

  & > h1 {
    text-align: center;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__ingredientsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    // flex-direction: row;
    // justify-content: space-evenly;

    & > li:before {
      content: "â¤";
      margin-left: -20px;
      margin-right: 10px;
    }
    &-item {
      padding: 1rem;
      transition: 0.3s all ease-in-out;
      letter-spacing: 0.02rem;
      color: whitesmoke;
    }
  }

  &-instructionsItem {
  }

  &__instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &__ingredientsContainer {
    // display: flex;
    // margin: 2rem;
    text-align: center;
  }

  &__ingredientsContainer-loopContainer {
    & > p {
      font-size: 1.5rem;
    }
  }
}

// h3,
// h1,
// p {
//   color: whitesmoke;
// }
