.recipe {
  @media screen and (min-width: 768px) {
    height: 100vh;
  }
  // background-color: rgba(100, 216, 121, 0.133);
  &__container {
  }

  &__servings {
  }

  &__title {
  }

  &__item {
    list-style: none;
  }

  &__diets {
  }

  &__dishtypes {
  }
}
section > h1 {
  text-align: center;
  color: rgb(13 114 31 / 96%);
}
.PDF {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // @media screen and (min-width: 768px) {
  //   background-color: rgba(100, 216, 121, 0.133);
  // }
  &__image {
    width: 200px;
  }

  & > h1 {
    text-align: center;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__ingredientsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    // flex-direction: row;
    // justify-content: space-evenly;

    & > li:before {
      content: "â¤";
      margin-left: -20px;
      margin-right: 10px;
    }
    &-item {
      padding: 1rem;
      transition: 0.3s all ease-in-out;
      letter-spacing: 0.02rem;
      color: rgb(80, 151, 99);
    }
  }

  &-instructionsItem {
  }

  &__instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  &__ingredientsContainer {
    // display: flex;
    // margin: 2rem;
    text-align: center;
  }

  &__ingredientsContainer-loopContainer {
    & > p {
      font-size: 1.5rem;
    }
  }
}

// h3,
// h1,
// p {
//   color: rgb(80, 151, 99);
// }
