.recipes {
  background-color: rgba(100, 216, 121, 0.133);

  &__food {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    // background-color: rgba(100, 216, 121, 0.133);
  }

  &__form-container {
    padding: 0px 1rem;
    text-align: center;
    margin-top: -1.3rem;
    margin-right: 1.2999999999999998rem;

    & > label {
      margin-top: 1rem;
    }

    @media screen and (min-width: 768px) {
      margin: 0 7rem;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 9rem;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 9rem;
    }

    & > h1 {
      margin: 0;
      margin-bottom: 1rem;
      @media screen and (max-width: 768px) {
        margin: 1em;
        margin-bottom: 0.71em;
      }
    }
  }

  &__field {
    width: 100%;
    background: #fff;
    font: inherit;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 2px;
    margin: 1rem;
  }

  &__container {
    margin: 0.5rem;
    width: 13rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
  }

  &__image {
    width: 13rem;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 71, 0.3);
    // border: 1px solid;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 8px 8px #1b1c1b;
    margin: 2rem;
    // height: 348px;
    // border-color: #888888;
    transition: 0.3s all ease-in-out;
    &:hover {
      margin-top: -10px;
    }
  }
}
