.login {
  &__title {
    text-align: center;
  }

  &__btnContainer {
    display: flex;
    justify-content: space-between;
  }

  &__backgroundImage {
    // background-image: url("../../assets/images/foodimage.jpg");
    background-color: rgba(100, 216, 121, 0.133);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > h2 {
      font-size: 3rem;
      margin: 0;
    }
  }

  &__form {
  }
}

.container {
}
